#filler{
    height:300px;
    width: 100vw;
    background-color: #F3EBD8;
}

.custom-shape-divider-top-1769946563 {
    position: absolute;
    top: 1086px;
    z-index: 1;
    left: 15px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1769946563 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.custom-shape-divider-top-1769946563 .shape-fill {
    fill: #F3EBD8;
}
.c1{
    height: 900px;
    width: 100vw;
}
#c1{
    position: relative;
    top: 700;
    left: 200;
    width: 250px;
    height: auto;
    transform: rotate(0deg);
    filter: blur(1px);
}
#c6{
    position: absolute;
    top: 800px;
    right: 1600px;
    width: 200px;
    height: auto;
    transform: rotate(306deg);
    filter: blur(1px);
}

#c8{
    position: absolute;
    top: 830px;
    right: 1300px;
    width: 215px;
    height: auto;
    transform: rotate(354deg);
    filter: blur(1px);
}
#c10{
    position: absolute;
    top: 800px;
    right: 1050px;
    width: 220px;
    height: auto;
    transform: rotate(145deg);
    filter: blur(1px);
}
#c11{
    position: absolute;
    top: 730px;
    right: 1070px;
    width: 90px;
    height: auto;
    transform: rotate(108deg);
    filter: blur(1px);
}
#c12{
    position: absolute;
    top: 822px;
    right: 900px;
    width: 150px;
    height: auto;
    transform: rotate(118deg);
    filter: blur(1px);
}
#c16{
    position: absolute;
    top: 850px;
    right: 690px;
    width: 190px;
    height: auto;
    transform: rotate(180deg);
    filter: blur(1px);
}
#c17{
    position: absolute;
    top: 690px;
    right: 560px;
    width: 200px;
    height: auto;
    transform: rotate(108deg);
    filter: blur(1px);
}
#c19{
    position: absolute;
    top: 600px;
    right: 150px;
    width: 190px;
    height: auto;
    transform: rotate(180deg);
    filter: blur(1px);
}
#c27{
    position: absolute;
    top: 650px;
    right: 1350px;
    width: 190px;
    height: auto;
    transform: rotate(180deg);
    filter: blur(1px);
}
#gf1{
    position: absolute;
    top: 100px;
    left: 80px;
    width: 500px;
    height: auto;
}
#gf2{
    position: absolute;
    top: 180px;
    left: 800px;
    width: 500px;
    height: auto;
}
#gf3{
    position: absolute;
    top: 100px;
    right: 80px;
    width: 500px;
    height: auto;
}

