.gridbox{
    display: grid;
    grid-template-rows: repeat(4,20rem);
    /* grid-template-columns: 185px 185px 185px 185px 185px 185px 185px 185px; */
    grid-template-columns: repeat(8,12.5vw);
}
.box11{
    background-color: #94C2DA;
} 
.box12{
    background-color: #ffffff00;
}
.box13{ 
    background-color: #94C2DA;
}
.box14{
    background-color: #ffffff00;
}
.box15{
    background-color: #94C2DA;
}
.box16{
    background-color: #ffffff00;
}
.box17{
    background-color: #94C2DA;
}
.box18{
    background-color: #ffffff00;
}
.box21{
    background-color: #ffffff00;
}
.box22{
    background-color: #94C2DA;
}
.box23{
    background-color: #ffffff00;
}
.box24{
    background-color: #94C2DA;
}
.box25{
    background-color: #ffffff00;
}
.box26{
    background-color: #94C2DA;
}
.box27{ 
    background-color: #ffffff00;
}
.box28{
    background-color: #94C2DA;
}
.box31{
    background-color: #94C2DA;
}
.box32{
    background-color: #ffffff00; 
}
.box33{
    background-color: #94C2DA;
}
.box34{
    background-color: #ffffff00;
}
.box35{
    background-color: #94C2DA;
}
.box36{
    background-color: #ffffff00;
}
.box37{
    background-color: #94C2DA;
}
.box38{
    background-color: #ffffff00;
}