
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.gridbox{
    display: grid;
    grid-template-rows: repeat(4,20rem);
    /* grid-template-columns: 185px 185px 185px 185px 185px 185px 185px 185px; */
    grid-template-columns: repeat(8,12.5vw);
}
.box11{
    background-color: #94C2DA;
} 
.box12{
    background-color: #F3EBD8;
}
.box13{ 
    background-color: #94C2DA;
}
.box14{
    background-color: #F3EBD8;
}
.box15{
    background-color: #94C2DA;
}
.box16{
    background-color: #F3EBD8;
}
.box17{
    background-color: #94C2DA;
}
.box18{
    background-color: #F3EBD8;
}
.box21{
    background-color: #F3EBD8;
}
.box22{
    background-color: #94C2DA;
}
.box23{
    background-color: #F3EBD8;
}
.box24{
    background-color: #94C2DA;
}
.box25{
    background-color: #F3EBD8;
}
.box26{
    background-color: #94C2DA;
}
.box27{ 
    background-color: #F3EBD8;
}
.box28{
    background-color: #94C2DA;
}
.box31{
    background-color: #94C2DA;
}
.box32{
    background-color: #F3EBD8; 
}
.box33{
    background-color: #94C2DA;
}
.box34{
    background-color: #F3EBD8;
}
.box35{
    background-color: #94C2DA;
}
.box36{
    background-color: #F3EBD8;
}
.box37{
    background-color: #94C2DA;
}
.box38{
    background-color: #F3EBD8;
}
.social_1 img{
    height: 28rem;
    width: 24rem;
}
.social_1{
    position: absolute;
    z-index: 1;
    top: 638px;
    left: 4cm;
}
.social_2{
    position: absolute;
    z-index: 1;
    top: 16.5cm;
    right: 8cm;
}
.social_2 img{
    height: 12rem;
    width: 12rem;
}
.social_3{
    position: absolute;
    z-index: 1;
    top: 3cm;
    right: 2cm;
}
.social_3 img{
    height: 22rem;
    width: 22rem;
}
.social_4{
    position: absolute;
    z-index: 1;
    top: 4cm;
    left: 8cm;
}
.social_4 img{
    height: 16rem;
    width: 16rem;
}
.text_1{
    position: absolute;
    z-index: 1;
    top: 302.36px;
    left: 415.75px;
    height: 1200px;
    width: 1400px;
   
}
p{
    font-family: "Sour Gummy", sans-serif;
    font-size: 70px;
    text-align: center;
}